streamlit
openai
llama-index-core==0.12.14
llama-index-embeddings-fastembed
llama-index-postprocessor-flag-embedding-reranker==0.3.0
requests
python-dotenv
pymilvus
git+https://github.com/FlagOpen/FlagEmbedding.git
docx2txt
openpyxl